body {
	color: #fff;
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size:90%;
	margin: 0;
}

/** Layout **/
#container {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
}

#header{
	position:relative;
	background-image: url('../img/tile2.png');
	height: 20%;
	text-align: ;
}

#navigation{
	background-color: red;
	height: 20%;
	position: absolute; 
	bottom: -10%;
	left: 0;
	right: 0;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

#navbar{
	position: relative;
	height: 100%;
	width: 50%;
	margin-left:auto;
	margin-right:auto;
	background-color:blue;
}

#content{
	background-color:black;
	height: 65%;
}

#footer{
	background-image: url('../img/tile2.png');
	height: 15%;
}
